@import '../../global';

.Master{
  position: relative;
  height: 100%;

  .headerBar{
    width: 100%;
    box-shadow: 0 0 4px #000;
    position: relative;
    height: 48px;

    .headerIcon{
      @extend .VerticalAlign;
      font-size: 2rem;
      color: #fff;
      float: left;
      padding-left: 20px;
      @media screen and (max-width: 470px) {
        display: none;
      }
    }

    .headerTabs{
      display: block;
      float: right;
      width: 400px;
    }
  }
}
