@import '../../global';

.App{
  position: relative;

  .headerBar{
    //the color should sync with muiTheme
    background-color: #00bcd4;
    width: 100%;
    height: 48px;
    box-shadow: 0 0 4px #000;
    position: relative;

    .headerIcon{
      @extend .VerticalAlign;
      font-size: 2rem;
      color: #fff;
      float: left;
      padding-left: 20px;
    }

    .headerTabs{
      float: right;
      width: 400px;
    }
  }
}
